/* /* p{

    color: blue;
    background-color: aqua;
    text-align: center;
    font-size: 25px;
} 

.jk{
    color: red;
    background-color: yellow;
    height: 300px;
    width: 300px;
    padding: 5px;
    border: 1px dashed red;
    margin: 5px;
    text-align: center;
    align-content: center;

}

 #jk1{
    color: green;
    background-color: pink;
}
 */

 
 /* .box{
height:200px ;
width:200px;
text-align: center;
align-content: center; */
/* display: inline-block; */
/* margin-top: 500px;
}

#box1{
    color: black;
    background-color: red;
    border: 1px solid black;
    margin:10px 20px 10px 20px ;
    padding: 10px;
  

}
#box2{
    color: white;
    background-color: blue;
    border: 2px dashed white;
    margin:15px 25px 15px 25px ;
    padding: 15px;
      margin-left: 240px;
}
#box3{
    color: yellow;
    background-color: green;
    border: 3px dotted yellow;
    margin:20px 30px 20px 30px ;
    padding: 20px;
      margin-left: 440px;
}
#box4{
    color: purple;
    background-color: orange;
    border: 4px double purple;
    margin:25px 35px 25px 35px ;
    padding: 25px;
    margin-left: 640px;
}  */

/* .container
{
    height: 400px;
    width: 650px;
    border:2px solid black;
    margin: 100px;
    padding: 20px;
}

.box{
    display: inline-block;
    height: 250px;
    width: 150px;
    margin: 5px;
    padding: 10px;
    border: 1px solid black;
    margin-left: 30px;
    text-align: center;
}

.box1{
background-color:chartreuse ;
}

.box2{
background-color: brown;
}

.box3{
background-color: skyblue;
} */

/* .container{
    display: flex;
    height:600px;
    width: 1200px;
    background-color: aqua;
    border: 1px solid black; */
    /* flex-direction: column-reverse; */
    /* flex-wrap: wrap; */
    /* justify-content:center;
    align-items: center; */
    /* align-content: space-around; */
    
/* } */

/* .item{
    height: 200px;
    width: 200px;
    background-color: white;
    border: 1px solid black;
    flex-grow: 1;
} */

/* .item3{ */
    /* order: -1; */
    /* flex-grow: 2; */
    /* align-self: flex-end; */
/* } */

.container{
    display: grid;
    height: 500px;
    width: 1000px;
    background-color: aqua;
    border: 1px solid black;
    grid-template-columns: 100px 100px 100px 100px ;
    /* grid-template-columns: repeat(4,1fr); */
    /* grid-template-rows: repeat(3,1fr); */
    grid-template-rows: 100px 100px 100px ;
    /* grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer"; */
    /* column-gap: 15px;
    row-gap: 10px;
     */
     justify-items: center;
     align-items: center;

     justify-content: space-around;
     align-content: center ;
}

.item{

    height: 100px;
    width: 100px;
    background-color: 
    brown;
    border: 1ps solid black;
    text-align: center;
    align-content: center;
    color: white;
}

/* .item1{
    grid-area: header;
}

.item2{
    grid-area: main;
}

.item3{
    grid-area: sidebar;
}

.item4{
    grid-area: footer;
}
 */
